# Endpoint de la base de datos
MONGODB_URI=mongodb+srv://usuario:password@cluster0.ejemplo.mongodb.net/meteomap_db?appName=Cluster0

# Collection Names
MONGODB_COLLECTION_USERS=users
MONGODB_COLLECTION_ZONES=zones
MONGODB_COLLECTION_REPORTS=reports
MONGODB_COLLECTION_CATEGORIES=report_categories
MONGODB_COLLECTION_COMMENTS=comments
MONGODB_COLLECTION_METRICS=system_metrics

# Nivel de logs (info o debug)
LOG_LEVEL=debug

# Access Token Secret
JWT_ACCESS_TOKEN_SECRET=tu_secreto_jwt_seguro_generado_aleatoriamente

# Mistral & Aemet
MISTRAL_API_KEY=tu_mistral_api_key_aqui
AEMET_API_KEY=tu_aemet_api_key_aqui

# Google OAuth
GOOGLE_CLIENT_ID=tu_google_client_id_aqui.apps.googleusercontent.com

# Gmail Configuration for Email Service
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASSWORD=tu_contraseña_de_aplicacion_gmail

# Frontend URL (para los links de recuperación)
FRONTEND_URL=http://localhost:5173

# Swagger server base URL
SWAGGER_URL=http://localhost:3000

# Github OAuth2
GITHUB_CLIENT_ID=tu_github_client_id_aqui
GITHUB_CLIENT_SECRET=tu_github_client_secret_aqui
